#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#

DB_HOST=host
DB_PORT=1221
DB_NAME=name
DB_USER=user
DB_PASS=pass
DB_URL=url

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SECRET_AUTH=SECRET-AUTH